@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}

.spooky-text {
  animation: flicker 1.5s infinite alternate;
  text-shadow: 0 0 10px #ff7518, 0 0 20px #ff7518, 0 0 30px #ff7518;
}
